body {
    color: rgb(0, 0, 0);
    font-size:px;
    font: italic bold 30px/60px Georgia, serif;
    background-image:url("https://static.photocdn.pt/images/articles/2018/03/09/articles/2017_8/landscape_photography.jpg");
}
h1{
    font: 50px arial, sans-serif;
}