.block-1{
    height: 100px;
    width: 100px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
  }
  .block-2{
       height: 100px;
    width: 100px;
    background-color: black; 
    border-radius: 40%;
      display: inline-block;
  
  }
  .block-3{
    height: 100px;
    width: 100px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
  
  }
  .block-4{
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 40%;
    display: inline-block;
  
  }
  .block-5{
    height: 100px;
    width: 100px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
  
  }
  .block-6{
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 40%;
    display: inline-block;
  }
  .block-7{
  height: 100px;
  width: 100px;
  background-color: purple;
    border-radius: 50%;
  display: inline-block;
  } 
  .block-8{
  height: 100px;
  width: 100px;
  background-color: black;
    border-radius: 40%;
  display: inline-block;
  }
  .block-9{
  height: 100px;
  width: 100px;
  background-color: purple;
  border-radius: 50%;
  display: inline-block;
  }
  